body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}
.body {
  background: rgb(248, 100, 124);
  width: 25%;
  border-radius: 10px;
}
.ecran {
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
}
.ecran h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: "Lucida Console", sans-serif;
  overflow-x: auto;
}
.buttons {
  display: flex; 
  flex-wrap: wrap; 
  padding: 10px;
}
button {
  flex: 20%;
  margin: 1%;
  font-size: 20px;
  border: none;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(199, 143, 252);
}
.operation {
  flex: 25%;
  background: pink;
  color: white;
  font-size: 30px;
}
.clear {
  background: rgb(255, 40, 40);
  color: white;
}
.egal {
  flex: 60%;
  background: rgb(13, 206, 87);
}
/* Media Query*/
@media screen and (max-width: 600px) {
  .body {
    width: 95%;
  }
}
